/*
  Global CSS file
*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}

ul {
	list-style: none;
}

a {
	color: inherit;
  text-decoration: none;
	cursor: pointer;

}

a:visited {
	text-decoration: inherit;
}

body {
	background: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
