
@media (min-width: 200px) {
  .face,
  .google,
  .twitter,
  .insta,
  .phone {
    width: 39px;
    margin: 8px;
    position: relative;
  }
  .footer{
    text-align: center;
    width: 100%;
  }
}
