.item {
  background-color: #FDFDFD;
  color: #9B9794;
  width: 314px;
  margin: 6px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
}
.myhistory-container ul {
  display: inline-block;
  position: relative;
  top: 26px;
}
.myhistory-container {
  position: relative;
}

.myhistory-title {
  color: #9B9794;
  font-size: 20px;
  height: 5s0px;
}
.none {
  color: rgba(175,161,13,.32)
}
.deletebtn {
  color: red;
  cursor: pointer;
  z-index: 100;
  float: right;
}

.togglebox {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}
.toggleinside {
  display: inline-block;
  -ms-flex-direction: column;
  text-align: -webkit-center;
}
