.header {
  background: #00BFB5;
  background-size: cover;
  border-bottom: 1px solid #ccc;
  height: 44px;
}

.content {
  width: 40%;
  max-width: 980px;
  overflow: auto;
}

.site-title {
  font-weight: 300;
  font-size: 42px;
  float: left;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}

.add-travel-button {
  float: right;
  width: 97px;
  color: #00BFB5;
  font-weight: 700;
  text-align: center;
  background-color: white;
}
.logout-button {
  float: right;
  width: 97px;
  color: #00BFB5;
  font-weight: 700;
  text-align: center;
  background-color: white;
}

.language-switcher ul {
  display: flex;
  position: relative;
  top: 9px;
  justify-content: space-around;
}

.language-switcher li {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}

.language-switcher li:first-child {
  color: rgba(255, 255, 255, 0.7);
}

.selected {
  border-bottom: 1px solid #fff;
}
.btncont {
  display: inline-flex;
}
@media (max-width: 767px){

}
