@media (max-width: 200px){

}
.header {
  background: rgb(42,168,154);
  background-size: cover;
  border-bottom: 1px solid #ccc;
  height: 44px;
}

.content {
  width: 40%;
  max-width: 980px;
  overflow: auto;
}

.btncont {
  display: inline-flex;
}
.btncont img {
  width: 105px;
  height: 36px;
}
.logout-button img {
  width: 105px;
  height: 30px;
  position: relative;
  top: 4px;
}

.language-switcher ul{
  text-align: left;
  margin-left: 50px;
}
.menuimg {
  display: inline-block;
  position: absolute;
  right: 0px;
  cursor: pointer;
}
.menuimg img{
  width: 42px;
}

.menu {
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  top: 43px;
  background: rgba(30,140,134,.8);
  z-index: 1;
  width: 50%;
  height: 100vh;
}
.menu span {
  color: white;
  font-weight: 800;
  font-size: .9rem;
}
.menu a {
  text-align: right;
  margin: 4px;
}
@media (max-width: 767px){

}
