@media (min-width: 200px) {
  .login-container {
    font-size: 34px;
    position: relative;
    top: 57px;
    height: 240px;
    width: 90%;
  }
  .loginbox {
    display: inline-flex;
    flex-direction: column;
    width: 233px;
    position: relative;
    left: 28px;
  }
  .loginbox img{
    width: 214px;
  }

  .face
  .google
  .logout
  .cell:hover {
    transform: scale3d(1.1);
  }
  .face img {
    width: 92%;
  }
  .google img{
    width: 92%;
  }
  .cell img {
    width: 92%;
  }

  .face
  .google
  .logout
  .cell:focus {
    background-color: darken(#25d366, 15%);
  }
}
@media (min-width: 568px) {
  .login-container {
    width: 100%;
    text-align: center;
  }
}
