.history-container {
  height: 600px;
  background: #00BFB5;
  color: white;
  background-size: 100% 100%;
  width: 100%;
}

.title {
  width: 200px;
  text-align: right;
  position: relative;
  top: 21px;
}
