
.emojis {
  background-image: url('./images/circuloemoji.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  height: 350px;
}
.logo:hover {
    transform: rotate(1080deg);
  }
.logo {
  transition: all 3s;
  transition-timing: ease-in-out;
  width: 176px;
  position: relative;
  top: 77px;
  left: 11px;
}
