@media (min-width: 200px) {
  .wholeC {
    text-align: center;
  }
  .ratingstars {
    color: rgb(42,168,154);
    font-size: 12px;
    font-weight: 800;
    margin: 5px;
  }
  .ratingbox {
    position: relative;
    width: 310px;
    height: 15px;
    top: 15px;
    left: 13px;
    display: flex;
    flex-direction: column;
  }
  .stars {
    width: 33%;
    background: rgb(42,168,154);
    padding: 6px;
    border-radius: 5px 5px 5px 0px;
  }
  .profile-container {
    height: 657px;
  }
  .form-container {
    text-align: center;
  }
  .sky {
    position: absolute;
    left: 0px;
    width: 100%;
    margin-top: -15px;
    background-size: 100% 100%;
  }

  .skyprofile {
    height: 237px;
  }

  .circulomob {
    position: absolute;
    left: -28px;
    top: 34px;
    width: 313px;
    background-size: 100% 100%;
  }
  .circulodesk {
    display: none;
  }
  .avatar {
    transition: all 3s;
    position: absolute;
    left: 37px;
    width: 141px;
    top: 60px;
    border-radius: 50%;
    overflow: hidden;
  }
  .avatar:hover {
      transform: rotate(360deg);
  }
  .profiletop {
    position: relative;
  }
  .logo {
    width: 102px;
    top: 70px;
    position: absolute;
    right: 32px;
  }
  .logoform {
    width: 102px;
  }
  .profile-data {
    position: relative;
    text-align: left;
    top: 20px;
    width: 320px;
    height: 201px;
    display: inline-block;
    color: gray;
    right: -38px;
  }
  .profile-data h2 {
    display: inline-block;
    position: relative;
    right: -21px;
    font-weight: bolder;
  }

  .box {
    position: relative;
    padding: 6px;
    margin: 10px;
  }

  .box img {
    width: 10%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .box span {
    margin-left: 33px;
  }

  .check{
    color: green;
  }
  .hide {
    visibility: hidden;
    position: relative;
    left: 88px;
    font-size: 10px;
  }
  .tooltip {
    position: relative;
    left: 88px;
    font-size: 10px;
  }
  .nocheck {
    position: relative;
    left: 30px;
  }
  .nocheck .aqui {
    margin-left: 0px;
  }
  .aqui:hover {
    color: yellow;
    margin-left: 0px;
  }
  .nocheck i{
    margin-left: 10px;
    color: red;
  }
  .cityboxmob {
    position: absolute;
    right: 10px;
  }
  .cityboxdesk {
    display: none;
  }
  .citymob {
    position: relative;
    width: 227px;
  }
  .editbox {
    flex-direction: column;
    position: absolute;
    width: 92px;
    left: 210px;
    top: 229px;
    font-size: 12px;
  }
  .edit {
    text-decoration: none;
    color: rgb(42,168,154);
    display: inline-block;
    font-weight: bold;
    padding: 0.2rem 1rem;
    border-radius: 3px;
    margin-top: 10px;
  }
  .edit img {
    width: 50%;
  }
  .error {
    color: red;
    font-size: .65rem;
    position: relative;
    top: -17px;
  }
  .btnfinalcontainer{
    display: inline-flex;
    justify-content: space-between;
    width: 282px;
  }
  .btnfinal {
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: rgb(42,168,154);
    font-weight: bold;
    padding: 0.2rem 1rem;
    border-radius: 3px;
    margin-top: 10px;
  }
  .btnconfirm {
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: rgb(42,168,154);
    font-weight: bold;
    padding: 0.2rem 1rem;
    border-radius: 3px;
  }
  .confirm-container {
    display: flex;
    position: relative;
    left: 33px;
  }
  .confirm-container input {
    width: 116px;
    margin: 0px;
  }
  .errorconfirm {
    color: red;
    font-size: .65rem;
    position: absolute;
  }
}
@media (min-width: 768px) {
  .cityboxmob {
    display: none;
  }
  .logo {
    right: 72px;
  }
  .editbox {
    left: 236px;
    width: 100px;
    top: 256px;
  }
  .profilewrap {
    display: flex;
    justify-content: space-around;
  }
  .circulomob {
    position: relative;
  }
  .profiletop {
    top: 142px;
  }
  .profile-data {
    top: 183px;
    left: 0px;
  }
}
@media (min-width: 1000px) {
  .circulomob {
    display: none;
  }
  .circulodesk {
    display: block;
    position: absolute;
    left: -116px;
    top: 34px;
    width: 200px;
    background-size: 100% 100%;
  }
  .avatar {
    left: -85px;
    top: 71px;
  }
  .editbox {
    left: 240px;
  }
  .profile-data {
    top: 446px;
    left: 120px;
    position: absolute;
  }
  .profiletop {
    top: 142px;
    left: 144px;
    position: absolute;
  }
  .cityboxdesk {
    display: block;
    position: absolute;
    opacity: 1;
    top: 148px;
    left: -70px;
    width: 89%;
  }
  .sky {
    height: 47%;
  }
}
