.profile-container {
  height: 618px;
}
.sky {
  position: absolute;
  left: 0px;
  width: 100%;
  margin-top: -15px;
  background-size: 100% 100%;
}

.skyprofile {
  height: 237px;
}

.circulo {
  position: absolute;
  left: -28px;
  top: 34px;
  width: 313px;
  background-size: 100% 100%;
}
.avatar {
  transition: all 3s;
  position: absolute;
  left: 37px;
  width: 141px;
  top: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar:hover {
    transform: rotate(360deg);
}
.profiletop {
  position: relative;
}
.logo {
  width: 102px;
  position: absolute;
  right: 32px;
}
.profile-data {
  position: relative;
  text-align: left;
  top: 20px;
  width: 320px;
  height: 201px;
  display: inline-block;
  color: gray;
}
.profile-data h2 {
  display: inline-block;
  position: relative;
  right: -21px;
  font-weight: bolder;
}

.box {
  position: relative;
  padding: 6px;
  margin: 10px;
}

.box img {
  width: 10%;
  position: absolute;
  left: 0px;
}
.box span {
  margin-left: 33px;
}
.citybox {
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.city {
  position: relative;
  width: 227px;
}
